<div class="jumbotron container">
    <div class="col-md-7">
        <a id="edit-btn" class="btn btn-warning" href="#projects/edit/{{project.Id}}">Edit</a>
        <h2>{{project.Name}}</h2>
        <p><strong>Description:</strong> {{project.Description}}</p>
        <p><strong>Lead:</strong> {{project.Lead.Username}}</p>
        <p>Labels:
            <span ng-repeat="label in project.Labels">{{label.Name}}{{$last ? '' : ', '}}</span>
        </p>
        <p>Priorities:
            <span ng-repeat="priority in project.Priorities">{{priority.Name}}{{$last ? '' : ', '}}</span>
        </p>
        <div class="form-group">
            <label for="selectStatus">Filter by status</label>
            <select class="form-control" id="selectStatus" ng-model="statusFilter">
                <option value="" selected>Select status</option>
                <option value="1">Closed</option>
                <option value="2">Stopped</option>
                <option value="3">In progress</option>
                <option value="4">Stopped progress</option>
            </select>
        </div>
    </div>

</div>