<div id="change-password-form" class="col-md-6 col-md-offset-3 border">
    <form name="changePassword">
        <label for="old-password">Old password</label>
        <input type="password"  required="required" ng-model="user.oldPassword" id="old-password" class="form-control" />
        <br />
        <label for="new-password">Password</label>
        <input type="password" required="required" min-length="6" max-length="100" ng-model="user.newPassword" id="new-password" class="form-control" />
        <br />
        <label for="confirm-new-password">Confirm new password</label>
        <input type="password" required="required" min-length="6" max-length="100" ng-model="user.confirmPassword" id="confirm-new-password" class="form-control" />
        <br />
        <button class="btn btn-primary" ng-disabled="changePassword.$invalid || user.newPassword != user.confirmPassword" ng-click="changeUserPassword(user)">Change password</button>
    </form>
</div>