<div id="add-issue-form" class="main-element">
    <div class="page-header">
        <h2>Add new issue</h2>
    </div>
    <form name="addIssueForm" class="col-md-6">
        <div class="form-group">
            <label for="issue-title">Title</label>
            <input type="text" id="issue-title" class="form-control" ng-model="addIssue.Title" required />
        </div>
        <div class="form-group">
            <label for="issue-description">Description</label>
        <textarea class="form-control" id="issue-description" ng-model="addIssue.Description" required></textarea>
        </div>
        <div class="form-group">
            <label for="issue-dueDate">Due date</label>
            <input type="datetime-local" id="issue-dueDate" class="form-control" ng-model="addIssue.DueDate" required />
        </div>
        <div class="form-group">
            <label for="issue-assignee">Assignee</label>
            <select class="form-control" id="issue-assignee" ng-model="addIssue.AssigneeId" required>
                <option value="">Choose assignee</option>
                <option ng-repeat="user in users|orderBy:'Username'" value="{{user.Id}}">{{user.Username}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="priorities">Priority</label>
            <select class="form-control" id="priorities" ng-model="addIssue.PriorityId" required>
                <option value="">Change priority</option>
                <option ng-repeat="p in priorities" value="{{p.Id}}">{{p.Name}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="issue-labels">Labels</label>
            <input type="text" id="issue-labels" class="form-control" ng-model="addIssue.Labels" required />
        </div>
        <button class="btn btn-success" ng-disabled="addIssueForm.$invalid" ng-click="addIssue(addIssue)">Add issue</button>
    </form>
</div>